@import "tailwindcss";

@theme{
  --font-zen-kaku: var(--font-zenKaku), sans-serif;
}

@layer components{
  .input-field{
    padding: 12px 16px 12px 16px;
    font-size: 13px;
    line-height: 22.5px;
    width: 100%;
    border: 1px solid #9E9E9E;
  }
  .submit-btn{
    background-color: #4067EC;
    padding-top: 13.5px;
    padding-bottom: 11.5px;
    color: white;
    width: 100%;
  }
}

@layer utilities{
  .max-container{
    max-width: 1440px;
    margin: 0 auto;

  }
  .padding-x{
    @apply px-8 sm:px-16
  }
  .padding-y{
    @apply py-8 sm:py-16
  }
}